<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.brave.browser" />
    </queries>

    <application
        android:label="Brave Kiosk"
        android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
            android:name=".KioskActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
