name: Build Kiosk APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.0'
    - name: Build Release APK
      run: gradle assembleRelease
    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      name: Sign app APK
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Saif-M9-Kiosk-Release
        path: app/build/outputs/apk/release/app-release-unsigned-signed.apk
